<%= form_for([@post, @post.comments.build]) do |f| %>
		<div id='create_comment'>
		<ul>
		<li><p>Add a comment:</p></li>
    <li><%= f.label :body %></li>
    <li><%= f.text_area :body %></li>
    <li><%= f.submit %></li>
  	</ul>
  </div>
<% end %>