<div style="text-align:center;">
	<%= render 'shared/content_title', title: 'About:' %>
</div>

<h4>A little bit about the Read-This-Board:</h4>
</br>

<div class="well">
	<p>This is a website where people can post a URL Link and a short description about their post. Users will need to register with the site in order to create posts and to comment on other people's posts.</p>
</div>