<div id="footer">
  <div class="container">
  </br>
	</br>
    <div class="footer-block"><div style="text-align:right;">Copyright 2015 Read-This-Board | <%= link_to 'About us',about_path %> | <%= link_to 'Privacy Policy',about_path %> | <%= link_to 'Terms/Conditions',about_path %> | <%= link_to 'Community',about_path %></div></div>
  </br>
 	</div>
</div>